<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
	    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
	    <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
	    <property name="connection.username">jonas1junior</property>
	    <property name="connection.password">mirella1406</property> 


        <!-- O Pool de conexões JDBC  -->
        <property name="connection.pool_size">1</property>

        <!-- Dialeto SQL -->
        <property name="dialect">org.hibernate.dialect.OracleDialectt</property>
        <property name="dialect"></property>

        <!-- Gerenciamento de sessão -->
        <property name="current_session_context_class">thread</property>

        <!-- Desabilita o cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Exibe os comandos SQL -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas da base de dados -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="br.com.sh.main.endereco.Bairro" />
        <mapping class="br.com.sh.main.endereco.Cidade" />
        <mapping class="br.com.sh.main.endereco.Endereco" />
        <mapping class="br.com.sh.main.endereco.Estado" />
        <mapping class="br.com.sh.main.endereco.TipoLogradouro" />
        <mapping class="br.com.sh.main.endereco.Logradouro" />
        <mapping class="br.com.sh.main.negocio.Cliente" />
        <mapping class="br.com.sh.main.negocio.Contato" />
        <mapping class="br.com.sh.main.negocio.Documento" />
        <mapping class="br.com.sh.main.negocio.Fabricante" />
        <mapping class="br.com.sh.main.negocio.Funcao" />
        <mapping class="br.com.sh.main.negocio.Funcionario" />
        <mapping class="br.com.sh.main.negocio.Item" />
        <mapping class="br.com.sh.main.negocio.Pessoa" />
        <mapping class="br.com.sh.main.negocio.Produto" />
        <mapping class="br.com.sh.main.negocio.Servico" />
        
    </session-factory>

</hibernate-configuration>